body {
    background-color: rgb(230, 228, 228);
}
.card {
    display: grid;
    background-color: white;
    border-radius: 20px;
    padding: 2.5rem;
}

.card_title {
    justify-self: center;
}

label {
    width: 100%;
}

input[type=text], select, textarea {
    border: none;
    background-color:rgb(206, 204, 204);
}

span {
    font-weight: bold;
}

.btn {
    width: 100%;
}

h1 {
    font-size: 50px;
    color: rgb(26, 26, 26);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#results-form p {
    text-align: center;
}